/* The navbar itself */
#navBar {
	padding-right: 0;
	
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	
	/*-webkit-box-shadow: 0px 0px 4px 0px rgba(160,216,230,0.7), inset 0px 0px 4px 0px rgba(160,216,230,0.7), 4px 0px 10px 0px rgba(160,216,230,0.5);
	   -moz-box-shadow: 0px 0px 4px 0px rgba(160,216,230,0.7), inset 0px 0px 4px 0px rgba(160,216,230,0.7), 4px 0px 10px 0px rgba(160,216,230,0.5);
	        box-shadow: 0px 0px 4px 0px rgba(160,216,230,0.7), inset 0px 0px 4px 0px rgba(160,216,230,0.7), 4px 0px 10px 0px rgba(160,216,230,0.5);*/
		
	overflow: visible;
	overflow-y: auto;
	
	-webkit-transition-property: transform, -webkit-transform;
	   -moz-transition-property: transform,    -moz-transform;
	    -ms-transition-property: transform      -ms-transform;
	     -o-transition-property: transform;
	        transition-property: transform;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
	    -ms-transition-timing-function: linear;
	     -o-transition-timing-function: linear;
	        transition-timing-function: linear;
}

#navBar ul {
	font-size: 90%;
	margin-top: 0;
	margin-bottom: 0.25em;
	list-style-type: none;
	padding: 0 1em;
}

/* Section headings */
#navBar > h2 {
	font-size: 80%;
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(128,184,206,0.5);
	border-bottom: 1px solid rgba(128,184,206,0.5);
	margin: 0.5em 1em 0;
	
	opacity: 1;
	
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
	    -ms-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
	    -ms-transition-timing-function: linear;
	     -o-transition-timing-function: linear;
	        transition-timing-function: linear;
}
#navBar ul li a, #navBar ul li b {
	display: block;
	text-decoration: none;
	
	padding: 9px 6px;
	padding-left: 36px;
	background-position: 6px 5px;
	background-repeat: no-repeat;
	background-size: 24px;
}

#navBar ul li a:hover {
	background-color: rgba(173,216,230,0.1);
}

/* The navbar's minimized state */
.hideNav #navBar {
	overflow: visible;
	
	-webkit-transform: translateX(-240px);
	   -moz-transform: translateX(-240px);
	    -ms-transform: translateX(-240px);
	        transform: translateX(-240px);
}
	.hideNav #navBar > h2 {
		opacity: 0;
	}


#navToggleBtn {
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 4px;
	
	/*background-color: black;*/
	background-color: rgba(64,64,64,0.5);
	
	/*border-style: solid;
	border-width: 1px;
	border-color: lightBlue;*/
	border: 0 none transparent;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	
	/*-webkit-box-shadow: 0 0 4px 0;
	   -moz-box-shadow: 0 0 4px 0;
	        box-shadow: 0 0 4px 0;*/
	-webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
	   -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
	        box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
	
	color: lightBlue;
	font-size: 125%;
	text-align: center;
	width: 2em;
	height: 2em;
	outline: 0 none;
	
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	
	cursor: pointer;
}
	#navToggleBtn:hover,
	#navToggleBtn:focus {
		background-color: #282828;
		
		/*-webkit-box-shadow: 0 1px 6px 0;
		   -moz-box-shadow: 0 1px 6px 0;
		        box-shadow: 0 1px 6px 0;*/
		-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
		   -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
		        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
	}
	#navToggleBtn:active {
		background-color: #303030;
		
		/*-webkit-box-shadow: 0 1px 10px 0;
		   -moz-box-shadow: 0 1px 10px 0;
				box-shadow: 0 1px 10px 0;*/
		-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
		   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
		        box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
	}

	.hideNav #navToggleBtn {
		-webkit-transform: translateX(2.3em);
		   -moz-transform: translateX(2.3em);
		    -ms-transform: translateX(2.3em);
		        transform: translateX(2.3em);
		        transform: translateX(calc(2em + 6px));
	}

/* nav item classes */
#navBar .nav-z a,
#navBar .nav-z a:hover,
#navBar .nav-z b {
	background-image: url('imgs/icons/24/z.png');
}
	#navBar .nav-z a:hover,
	#navBar .nav-me a:hover,
	#navBar .nav-orgs a:hover,
	#navBar .nav-misc a:hover,
	#navBar .nav-cosplay a:hover,
	#navBar .nav-desserts a:hover,
	#navBar .nav-music a:hover,
	#navBar .nav-google a:hover,
	#navBar .nav-twitter a:hover,
	#navBar .nav-mastodon a:hover,
	#navBar .nav-bluesky a:hover,
	#navBar .nav-github a:hover,
	#navBar .nav-ko-fi a:hover,
	#navBar .nav-patreon a:hover,
	#navBar .nav-portal_z a:hover {
		color: white;
	}
#navBar .nav-me a,
#navBar .nav-me a:hover,
#navBar .nav-me b {
	background-image: url('imgs/icons/24/mii.png');
}
#navBar .nav-apps a,
#navBar .nav-apps a:hover,
#navBar .nav-apps b {
	background-image: url('imgs/icons/24/apps.png');
}
	#navBar .nav-apps a:hover {
		color: cyan;
	}
#navBar .nav-chrome a,
#navBar .nav-chrome a:hover,
#navBar .nav-chrome b {
	background-image: url('imgs/icons/24/chrome.png');
}
	#navBar .nav-chrome a:hover {
		color: yellow;
	}
#navBar .nav-wave a,
#navBar .nav-wave a:hover,
#navBar .nav-wave b {
	background-image: url('imgs/icons/24/wave.png');
}
	#navBar .nav-wave a:hover {
		color: #64dd17;
	}
#navBar .nav-misc a,
#navBar .nav-misc a:hover,
#navBar .nav-misc b {
	background-image: url('imgs/icons/24/misc.png');
}
#navBar .nav-cosplay a,
#navBar .nav-cosplay a:hover,
#navBar .nav-cosplay b {
	background-image: url('imgs/icons/24/cosplay.png');
}
#navBar .nav-desserts a,
#navBar .nav-desserts a:hover,
#navBar .nav-desserts b {
	background-image: url('imgs/icons/24/desserts.png');
}
#navBar .nav-music a,
#navBar .nav-music a:hover,
#navBar .nav-music b {
	background-image: url('imgs/icons/24/music.png');
}
#navBar .nav-startrek a,
#navBar .nav-startrek a:hover,
#navBar .nav-startrek b {
	background-image: url('imgs/icons/star_trek.png');
}
#navBar .nav-games a,
#navBar .nav-games a:hover,
#navBar .nav-games b {
	background-image: url('imgs/icons/24/games.png');
}
	#navBar .nav-games a:hover {
		color: red;
	}
#navBar .nav-design a,
#navBar .nav-design a:hover,
#navBar .nav-design b {
	background-image: url('imgs/icons/24/design.png');
}
	#navBar .nav-design a:hover {
		color: hsl(232,100%,70%);
	}
#navBar .nav-orgs a,
#navBar .nav-orgs a:hover,
#navBar .nav-orgs b {
	background-image: url('imgs/icons/24/groups.png');
}
#navBar .nav-inprod a,
#navBar .nav-inprod a:hover,
#navBar .nav-inprod b {
	background-image: url('imgs/icons/inprod.png');
}
#navBar .nav-math a,
#navBar .nav-math a:hover,
#navBar .nav-math b {
	background-image: url('imgs/icons/24/math.png');
}
	#navBar .nav-math a:hover {
		color: lime;
	}

#navBar .nav-google a,
#navBar .nav-google a:hover {
	background-image: url('imgs/icons/24/gplus.png');
}
#navBar .nav-twitter a,
#navBar .nav-twitter a:hover {
	background-image: url('imgs/icons/24/twitter.png');
}
#navBar .nav-mastodon a,
#navBar .nav-mastodon a:hover {
	background-image: url('imgs/icons/24/mastodon.png');
}
#navBar .nav-bluesky a,
#navBar .nav-bluesky a:hover {
	background-image: url('imgs/icons/24/bluesky.png');
}
#navBar .nav-github a,
#navBar .nav-github a:hover {
	background-image: url('imgs/icons/24/github.png');
}
#navBar .nav-ko-fi a,
#navBar .nav-ko-fi a:hover {
	background-image: url('imgs/icons/24/ko-fi.png');
}
#navBar .nav-patreon a,
#navBar .nav-patreon a:hover {
	background-image: url('imgs/icons/24/patreon.png');
}
#navBar .nav-portal_z a,
#navBar .nav-portal_z a:hover {
	background-image: url('imgs/icons/24/portalz.png');
}
