/* created in 2006 */
/* (C) Copyright 2012 by Zachary “Gamer_Z.” Yaro */

/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);


/* tags */

body {
	background-color: #050505;
	background-image:url(imgs/bg/plain.png), url(imgs/bg/plain_inv.png);
	background-repeat: repeat-x;
	background-position: top, bottom;
	background-attachment: fixed;
	
	/*font-family:"Droid Sans Mono", "Consolas", "Monospace", monospace;*/
	font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
	font-size: 11pt;
	font-weight: 400; /* normal */
	color: #F0F0F0;
	
	margin: 0;
	padding: 0;
	
	position: absolute;
	width: 100%;
	height: 100%;
}


aside {
	display:block;
	text-align:center;
}
aside[data-side="right"] {
	float:right;
	margin-left:8px;
	margin-right:0px;
	text-align:left;
}
aside[data-side="left"] {
	float:left;
	margin-left:0px;
	margin-right:8px;
	text-align:left;
}

@media (max-width:645px) {
	aside, aside[data-side] {
		float:none;
		margin:auto;
		text-align:center;
	}
	aside, aside > iframe, aside > img {
		max-width:100%;
	}
}

img {
	border-width:0px;
	text-decoration:none;
}
header {
	text-align:center;
}

footer {
	font-size:6pt;
}
h1 {
	font-weight: 700;
	font-size: 22pt;
	color: white;
	text-shadow: 0px 0px 3px lightblue;
	margin-top: 0;
}
h2 {
	color: white;
	font-weight: 700;
}
h3 {
	color: #FDFDFD;
	font-weight: 500;
	margin: 0;
}
h4 {
	margin: 0;
	font-size: 90%;
	font-weight: normal;
	opacity: 0.65;
}

sup {
	font-size:60%;
}

ul ul {
	padding-left: 2.5em;
}
nav li {
	white-space:nowrap;
}

a {
	color: #8DF;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:active {
	color: #F05555;
}

hr {
	border-style: solid;
	border-width: 1px 0 0;
	margin: 0.5em 1em;
	border-color: rgba(128,184,206,0.5);
}

/* page structure classes & ids */

#main {
	background-color: #202020;
	background-color: rgba(32,32,32,0.8);
	
	-webkit-box-shadow: 0 0 18px 0 rgba(160,216,230,0.4);
	   -moz-box-shadow: 0 0 18px 0 rgba(160,216,230,0.4);
	        box-shadow: 0 0 18px 0 rgba(160,216,230,0.4);
	
	margin: 0 auto;
	padding: 1em;
	min-height: 100%;
	max-width: 800px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
}
	#main > h2 {
		text-shadow: 0px 0px 2px lightblue;
		text-align: center;
	}

#rightBar {
	float:right;
	padding-left:8px;
	padding-bottom:8px;
	width:200px;
}

@media (max-width: 1310px) { /* 830px (#main's width) + 240px (left) + 240px (right) = 1310px */
	#main {
		margin-left: 240px;
	}
	.hideNav #main {
		margin-left: auto;
	}
}

/* widget classes & ids */
ul.col1,
ul.col2,
ul.col4 {
	list-style-type: none;
	padding: 0;
}
	ul.col1 > li,
	ul.col2 > li,
	ul.col4 > li {
		display: inline-block;
		margin-bottom: 8px;
		vertical-align: top;
	}
	ul.col2 > li {
		width: 48%;
	}
	ul.col4 > li {
		width: 24%;
	}
		ul.col1 > li h2,
		ul.col2 > li h2,
		ul.col4 > li h2 {
			margin: 0;
		}
		ul.col1 > li img,
		ul.col2 > li img,
		ul.col4 > li img {
			float: left;
			margin-right: 4px;
			width: 48px;
		}
			ul.col2.big > li img {
				width: 128px;
			}

@media (max-width: 840px) { /* 600px + 240px (navBar width) = 840px */
	body:not(.hideNav) ul.col2 > li {
		width: 100%;
	}
	body:not(.hideNav) ul.col4 > li {
		width: 48%;
	}
}
@media (max-width: 600px) {
	.hideNav ul.col2 > li {
		width: 100%;
	}
	.hideNav ul.col4 > li {
		width: 48%;
	}
}

a.projLink {
	display: inline-block;
	padding: 8px 16px;
	border-right: 1px solid;
}
	a.projLink:last-child {
		border-right: 0 none;
	}
	a.projLink.big {
		font-size: 150%;
		border: 0 none;
		
		position: relative;
		z-index: 1;
	}

ul.projLinks {
	text-align: center;
}
	ul.projLinks li {
		padding: 0;
		margin: 1% 0.5%;
		text-align: left;
	}
		ul.projLinks li > a {
			display: block;
			overflow: hidden;
			padding: 8px;
			color: white;
			border-bottom: 2px solid rgba(255,255,255,0.5);
		}
		ul.projLinks li > a,
		a.projLink.big {
			background-color: #202020;
			
			-webkit-border-radius: 2px;
			   -moz-border-radius: 2px;
			        border-radius: 2px;
			
			/*-webkit-box-shadow: 0 1px 5px 0;
			   -moz-box-shadow: 0 1px 5px 0;
			        box-shadow: 0 1px 5px 0;*/
			-webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
			   -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
			        box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
			
			-webkit-transition-duration: 0.2s;
			   -moz-transition-duration: 0.2s;
			    -ms-transition-duration: 0.2s;
			     -o-transition-duration: 0.2s;
			        transition-duration: 0.2s;
		}
			ul.projLinks li > a:hover,
			ul.projLinks li > a:focus,
			a.projLink:hover,
			a.projLink:focus {
				background-color: #303030;
				
				text-decoration: none;
			}
			ul.projLinks li > a:hover,
			ul.projLinks li > a:focus,
			a.projLink.big:hover,
			a.projLink.big:focus {	
				/*-webkit-box-shadow: 0 2px 8px 0;
				   -moz-box-shadow: 0 2px 8px 0;
				        box-shadow: 0 2px 8px 0;*/
				-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
				   -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
				        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.23), 0 4px 15px 0 rgba(0, 0, 0, 0.175);
			}
			ul.projLinks li > a:active,
			a.projLink:active {
				background-color: #383838;
			}
			ul.projLinks li > a:active,
			a.projLink.big:active {
				-webkit-box-shadow: 0 3px 15px 0;
				   -moz-box-shadow: 0 3px 15px 0;
				        box-shadow: 0 3px 15px 0;
				
				-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
				   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
				        box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
			}
			
			ul.projLinks li > a .scrnsht {
				float: none;
				width: 105%;
				margin: -8px -8px 8px;
			}
			ul.projLinks li > a .icon {
				float: left;
				width: 64px;
				margin-right: 8px;
				margin-top: -2px;
			}

.filmstrip {
	display: block;
	white-space: nowrap;
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	height: 320px;
	text-align: center;
}
	.filmstrip img {
		margin: 0 4px;
		max-height: 100%;
	}
