html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-color: #0277bd;
	color: white;
}

a {
	color: white;
}

h1,
h2 {
	font-weight: normal;
	margin-top: 0;
}

.appBar {
	position: absolute;
	margin: 0;
	
	text-align: left;
	
	background-color: #0277bd;
}
	.appBar button > img {
		width: 32px;
		height: 32px;
	}

button.backButton {
	margin-left: -12px;
}
	

.view {
	position: fixed;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 64px;
	
	opacity: 0;
	pointer-events: none;
	
	text-align: center;
	
	background-color: #03a9f4;
	
	-webkit-transform: translateY(90%);
	   -moz-transform: translateY(90%);
	    -ms-transform: translateY(90%);
	     -o-transform: translateY(90%);
	        transform: translateY(90%);
	
	-webkit-transition-property: opacity, -webkit-transform, transform, -webkit-box-shadow, box-shadow;
	   -moz-transition-property: opacity, -moz-transform, transform, -moz-box-shadow, box-shadow;
	    -ms-transition-property: opacity, -ms-transform, transform, box-shadow;
	     -o-transition-property: opacity, -o-transform, transform, box-shadow;
	        transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
	.view.active {
		-webkit-transform: translateY(0%);
		   -moz-transform: translateY(0%);
		    -ms-transform: translateY(0%);
		     -o-transform: translateY(0%);
		        transform: translateY(0%);
		opacity: 1;
		pointer-events: auto;
	}
	.view p {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 72px;
	}
@media (max-width: 600px) {
	.view {
		padding-top: 56px;
	}
		.view p {
			padding: 0 32px;
		}
}

.menu {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 16px;
	white-space: nowrap;
	overflow: auto;
	text-align: center;
}
	.menu button {
		min-width: 0;
		margin: 16px 8px;
		padding: 16px 32px;
		
		position: relative;
		
		color: black;
		
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		
		-webkit-transition-property: -webkit-box-shadow, box-shadow, -webkit-transform, transform;
		   -moz-transition-property: -moz-box-shadow, box-shadow, -moz-transform, transform;
		    -ms-transition-property: box-shadow, -ms-transform, transform;
		     -o-transition-property: box-shadow, -o-transform, transform;
		        transition-property: box-shadow, transform;
	}
		.menu button:hover,
		.menu button:focus {
			z-index: 1;
			
			-webkit-transform: scale(1.2);
			   -moz-transform: scale(1.2);
			    -ms-transform: scale(1.2);
			     -o-transform: scale(1.2);
			        transform: scale(1.2);
		}
		.menu button:active,
		.menu button.active {
			z-index: 2;
			-webkit-transform: scale(1.3);
			   -moz-transform: scale(1.3);
			    -ms-transform: scale(1.3);
			     -o-transform: scale(1.3);
			        transform: scale(1.3);
		}
@media (orientation: portrait) {
	.menu {
		white-space: normal;
	}
		.menu button {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
}
 
 /* Title screen styles */
 #titleScreen {
	background-color: #0277bd;
 }
 #titleScreen .menu button {
	width: 160px;
	font-size: 120%;
}

/* Level select screen styles */
#levelScreen .menu button {
	width: 256px;
	height: 256px;
	margin: 48px 32px;
}
	#levelScreen .menu button .title {
		font-size: 200%;
		margin: 0.5em 0 1em;
	}
	#levelScreen .menu button .score {
		font-size: 100%;
	}
	#levelScreen .menu button .stars {
		font-size: 250%;
	}
	
@media (orientation: portrait) {
	#levelScreen .menu button {
		margin: 48px auto;
	}
}
@media (max-width: 500px), (max-height: 500px) {
	#levelScreen .menu button {
		width: 192px;
		height: 192px;
	}		
}

/* Results screen styles */
#resultsScreen,
#resultsScreen .appBar {
	background-color: #fafafa;
	color: black;
}

.view#resultsScreen {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}
	.view#resultsScreen.active {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}

#resultsScreen .star {
	display: inline-block;
	width: 64px;
	height: 64px;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
	#resultsScreen .star::before {
		content: '\2606';
		display: block;
		
		font-size: 64px;
		position: relative;
		top: -13px;
		
		text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	}
#resultsScreen .star.active {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	     -o-transform: scale(1.2);
	        transform: scale(1.2);
	
	-webkit-animation-name: starRipple;
	   -moz-animation-name: starRipple;
	        animation-name: starRipple;
	-webkit-animation-duration: 0.25s;
	   -moz-animation-duration: 0.25s;
	        animation-duration: 0.25s;
}
	#resultsScreen .star.active::before {
		content: '\2605';
	}

#gameScreen .backButton {
	float: left;
}
#retryButton {
	float: right;
	margin-right: -12px;
}
#gameScore {
	float: right;
	margin-right: 8px;
}
