body {
	background-image: url(../imgs/bg/cyan.png), url(../imgs/bg/cyan_inv.png);
}

a,
a > *,
ul.projLinks li > a {
	color: cyan;
	border-color: rgba(0, 255, 255, 0.5);
}
	a:active,
	a:active > * {
		color: #a0f0f0;
	}
@media (prefers-color-scheme: light) {
	a,
	a > *,
	ul.projLinks li > a {
		color: #008598;
		border-color: #00d0d0;
	}
		a:active,
		a:active > * {
			color: #0090a0;
		}
}

#navToggleBtn {
	color: cyan;
}
#navBar > h2 {
	color: rgba(0, 225, 255, 0.5);
	border-bottom-color: rgba(0, 225, 255, 0.5);
}
#navBar ul li a,
#navBar ul li b {
	color: cyan;
}
#navBar ul > li > a:hover {
	background-color: rgba(0, 225, 245, 0.1);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(0, 225, 255, 0.4);
	   -moz-box-shadow: 0 0 18px 0 rgba(0, 225, 255, 0.4);
	        box-shadow: 0 0 18px 0 rgba(0, 225, 255, 0.4);
}
#main hr,
a.projLink {
	border-color: rgba(0, 255, 255, 0.5);
}
@media (prefers-color-scheme: light) {
	#main hr,
	a.projLink {
		border-color: #00b0b0;
	}
}
#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px #00ffff;
}

/* nav item classes */
#navBar .nav-z a {
	background-image: url('../imgs/icons/24/cyan/z.png');
}
#navBar .nav-me a {
	background-image: url('../imgs/icons/24/cyan/mii.png');
}
#navBar .nav-chrome a {
	background-image: url('../imgs/icons/24/cyan/chrome.png');
}
#navBar .nav-wave a {
	background-image: url('../imgs/icons/24/cyan/wave.png');
}
#navBar .nav-design a {
	background-image: url('../imgs/icons/24/cyan/design.png');
}
#navBar .nav-orgs a {
	background-image: url('../imgs/icons/24/cyan/groups.png');
}
#navBar .nav-misc a {
	background-image: url('../imgs/icons/24/cyan/misc.png');
}
#navBar .nav-cosplay a {
	background-image: url('../imgs/icons/24/cyan/cosplay.png');
}
#navBar .nav-desserts a {
	background-image: url('../imgs/icons/24/cyan/desserts.png');
}
#navBar .nav-music a {
	background-image: url('../imgs/icons/24/cyan/music.png');
}
#navBar .nav-games a {
	background-image: url('../imgs/icons/24/cyan/games.png');
}
#navBar .nav-math a {
	background-image: url('../imgs/icons/24/cyan/math.png');
}
#navBar .nav-google a {
	background-image: url('../imgs/icons/24/cyan/gplus.png');
}
#navBar .nav-twitter a {
	background-image: url('../imgs/icons/24/cyan/twitter.png');
}
#navBar .nav-mastodon a {
	background-image: url('../imgs/icons/24/cyan/mastodon.png');
}
#navBar .nav-bluesky a {
	background-image: url('../imgs/icons/24/cyan/bluesky.png');
}
#navBar .nav-github a {
	background-image: url('../imgs/icons/24/cyan/github.png');
}
#navBar .nav-ko-fi a {
	background-image: url('../imgs/icons/24/cyan/ko-fi.png');
}
#navBar .nav-patreon a {
	background-image: url('../imgs/icons/24/cyan/patreon.png');
}
#navBar .nav-portal_z a {
	background-image: url('../imgs/icons/24/cyan/portalz.png');
}
