header {
	margin-bottom: 1em;
}

#main h2 {
	text-align: left;
}
#main h2 + p {
	margin-top: 0;
}

#main ol,
#main ul {
	padding-left: 1.5em;
}
#main li {
	margin-bottom: 0.75em;
}

aside img,
figure img {
	max-width: 100%;
}
aside[data-side] img,
figure[data-side] img {
	max-width: 256px;
	max-height: 320px;
}

.xpost {
	font-style: italic;
}
