body {
	background-image: url(../imgs/bg/yellow.png), url(../imgs/bg/yellow_inv.png);
}

a,
a > *,
ul.projLinks li > a {
	color: yellow;
	border-color: rgba(255, 255, 0, 0.5);
}
	a:active,
	a:active > * {
		color: #f0f060;
	}
@media (prefers-color-scheme: light) {
	a,
	a > *,
	ul.projLinks li > a {
		color: #808000;
		border-color: #d0d000;
	}
		a:active,
		a:active > * {
			color: #909000;
		}
}

#navToggleBtn {
	color: yellow;
}
#navBar h2 {
	color: rgba(255, 255, 0, 0.4);
	border-bottom-color: rgba(255, 255, 0, 0.4);
}
#navBar ul li a,
#navBar ul li b {
	color: yellow;
}
#navBar ul > li > a:hover {
	background-color: rgba(255, 255, 0, 0.1);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(255, 255, 0, 0.7);
	   -moz-box-shadow: 0 0 18px 0 rgba(255, 255, 0, 0.7);
	        box-shadow: 0 0 18px 0 rgba(255, 255, 0, 0.7);
}
#main hr,
a.projLink {
	border-color: rgba(255, 255, 0, 0.5);
}
@media (prefers-color-scheme: light) {
	#main hr,
	a.projLink {
		border-color: #b0b000;
	}
}
#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px yellow;
}

#main::-webkit-scrollbar {
	background-color: darkGray;
}
#main::-webkit-scrollbar:vertical {
	width: 6px;
}
#main::-webkit-scrollbar-track-piece {
	background-color: #202020;
}
#main::-webkit-scrollbar-button:vertical {
	background-color: rgba(255, 255, 0, 0.8);
	background-repeat: no-repeat;
	height: 9px;
}
#main::-webkit-scrollbar-button:vertical:start {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACJJREFUCNdjZMAE/xkYGBgY0QVggBFdAAaYGHAAvEZhtRwAf38FAyzR1zMAAAAASUVORK5CYII=);
	background-position: 1px 0px;
}
#main::-webkit-scrollbar-button:vertical:end {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAChJREFUCNdjYGBg+A/FKIARiyAjLgkGBgYGBiYGHIAFixgjugQjsiwA+uMEDNkpPiQAAAAASUVORK5CYII=);
	background-position: 2px 0px;
}
#main::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 0, 0.4);
}

/* nav item classes */
#navBar .nav-z a {
	background-image: url('../imgs/icons/24/yellow/z.png');
}
#navBar .nav-me a {
	background-image: url('../imgs/icons/24/yellow/mii.png');
}
#navBar .nav-apps a {
	background-image: url('../imgs/icons/24/yellow/apps.png');
}
#navBar .nav-wave a {
	background-image: url('../imgs/icons/24/yellow/wave.png');
}
#navBar .nav-design a {
	background-image: url('../imgs/icons/24/yellow/design.png');
}
#navBar .nav-misc a {
	background-image: url('../imgs/icons/24/yellow/misc.png');
}
#navBar .nav-cosplay a {
	background-image: url('../imgs/icons/24/yellow/cosplay.png');
}
#navBar .nav-desserts a {
	background-image: url('../imgs/icons/24/yellow/desserts.png');
}
#navBar .nav-music a {
	background-image: url('../imgs/icons/24/yellow/music.png');
}
#navBar .nav-games a {
	background-image: url('../imgs/icons/24/yellow/games.png');
}
#navBar .nav-math a {
	background-image: url('../imgs/icons/24/yellow/math.png');
}
#navBar .nav-google a {
	background-image: url('../imgs/icons/24/yellow/gplus.png');
}
#navBar .nav-twitter a {
	background-image: url('../imgs/icons/24/yellow/twitter.png');
}
#navBar .nav-mastodon a {
	background-image: url('../imgs/icons/24/yellow/mastodon.png');
}
#navBar .nav-github a {
	background-image: url('../imgs/icons/24/yellow/github.png');
}
#navBar .nav-ko-fi a {
	background-image: url('../imgs/icons/24/yellow/ko-fi.png');
}
#navBar .nav-patreon a {
	background-image: url('../imgs/icons/24/yellow/patreon.png');
}
#navBar .nav-portal_z a {
	background-image: url('../imgs/icons/24/yellow/portalz.png');
}
