body {
	background-image: url(../imgs/bg/yellow.png), url(../imgs/bg/yellow_inv.png);
}

a, a > * {
	color: yellow;
}
	a:active, a:active > * {
		color: #f0f060;
	}

#navToggleBtn {
	color: yellow;
}
#navBar h2 {
	color: rgba(255,255,0,0.4);
	border-bottom-color: rgba(255,255,0,0.4);
}
#navBar ul li b {
	color: yellow;
}
#navBar ul > li > a:hover {
	background-color: rgba(255,255,0,0.1);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(255,255,0,0.7);
	   -moz-box-shadow: 0 0 18px 0 rgba(255,255,0,0.7);
	        box-shadow: 0 0 18px 0 rgba(255,255,0,0.7);
}
#main hr,
a.projLink {
	border-color: rgba(255,255,0,0.5);
}
#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px yellow;
}

ul.projLinks li > a {
	color: yellow;
	border-color: rgba(255,255,0,0.5);
}

#main::-webkit-scrollbar {
	background-color: darkGray;
}
#main::-webkit-scrollbar:vertical {
	width: 6px;
}
#main::-webkit-scrollbar-track-piece {
	background-color: #202020;
}
#main::-webkit-scrollbar-button:vertical {
	background-color: rgba(255,255,0,0.8);
	background-repeat: no-repeat;
	height: 9px;
}
#main::-webkit-scrollbar-button:vertical:start {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACJJREFUCNdjZMAE/xkYGBgY0QVggBFdAAaYGHAAvEZhtRwAf38FAyzR1zMAAAAASUVORK5CYII=);
	background-position: 1px 0px;
}
#main::-webkit-scrollbar-button:vertical:end {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAChJREFUCNdjYGBg+A/FKIARiyAjLgkGBgYGBiYGHIAFixgjugQjsiwA+uMEDNkpPiQAAAAASUVORK5CYII=);
	background-position: 2px 0px;
}
#main::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,0,0.4);
}

/* nav item classes */
.nav-z a {
	background-image: url('../imgs/icons/24/yellow/z.png');
}
.nav-me a {
	background-image: url('../imgs/icons/24/yellow/mii.png');
}
.nav-apps a {
	background-image: url('../imgs/icons/24/yellow/apps.png');
}
.nav-wave a {
	background-image: url('../imgs/icons/24/yellow/wave.png');
}
.nav-design a {
	background-image: url('../imgs/icons/24/yellow/design.png');
}
.nav-misc a {
	background-image: url('../imgs/icons/24/yellow/misc.png');
}
.nav-music a {
	background-image: url('../imgs/icons/24/yellow/music.png');
}
.nav-games a {
	background-image: url('../imgs/icons/24/yellow/games.png');
}
.nav-math a {
	background-image: url('../imgs/icons/24/yellow/math.png');
}
.nav-google a {
	background-image: url('../imgs/icons/24/yellow/gplus.png');
}
.nav-github a {
	background-image: url('../imgs/icons/24/yellow/github.png');
}
.nav-portal_z a {
	background-image: url('../imgs/icons/24/yellow/portalz.png');
}
