body {
	background-image: url(../imgs/bg/indigo.png), url(../imgs/bg/indigo_inv.png);
}

a,
a > *,
ul.projLinks li > a {
	color: hsl(232, 100%, 70%);
	border-color: hsla(232, 100%, 70%, 0.5);
}
	a:active,
	a:active > * {
		color: hsl(230, 100%, 75%);
	}
@media (prefers-color-scheme: light) {
	a,
	a > *,
	ul.projLinks li > a {
		color: hsl(232, 100%, 50%);
		border-color: hsl(232, 100%, 70%);
	}
		a:active,
		a:active > * {
			color: hsl(232, 100%, 60%);
		}
}

#navToggleBtn {
	color: hsl(256, 100%, 50%);
}
#navBar h2 {
	color: hsla(240,100%,65%,0.7);
	border-bottom-color: hsla(248, 100%, 55%, 0.7);
}
#navBar ul li a,
#navBar ul li b {
	color: hsl(232,100%,70%);
}
#navBar ul > li > a:hover {
	background-color: hsla(248,100%,55%,0.2);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 hsla(256, 100%, 40%, 0.6);
	   -moz-box-shadow: 0 0 18px 0 hsla(256, 100%, 40%, 0.6);
	        box-shadow: 0 0 18px 0 hsla(256, 100%, 40%, 0.6);
}
#main hr,
a.projLink {
	border-color: hsl(256, 100%, 40%);
}
#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px hsl(256, 100%, 75%);
}

/* nav item classes */
#navBar .nav-z a {
	background-image: url('../imgs/icons/24/indigo/z.png');
}
#navBar .nav-me a {
	background-image: url('../imgs/icons/24/indigo/mii.png');
}
#navBar .nav-apps a {
	background-image: url('../imgs/icons/24/indigo/apps.png');
}
#navBar .nav-chrome a {
	background-image: url('../imgs/icons/24/indigo/chrome.png');
}
#navBar .nav-wave a {
	background-image: url('../imgs/icons/24/indigo/wave.png');
}
#navBar .nav-misc a {
	background-image: url('../imgs/icons/24/indigo/misc.png');
}
#navBar .nav-cosplay a {
	background-image: url('../imgs/icons/24/indigo/cosplay.png');
}
#navBar .nav-desserts a {
	background-image: url('../imgs/icons/24/indigo/desserts.png');
}
#navBar .nav-music a {
	background-image: url('../imgs/icons/24/indigo/music.png');
}
#navBar .nav-games a {
	background-image: url('../imgs/icons/24/indigo/games.png');
}
#navBar .nav-math a {
	background-image: url('../imgs/icons/24/indigo/math.png');
}
#navBar .nav-google a {
	background-image: url('../imgs/icons/24/indigo/gplus.png');
}
#navBar .nav-twitter a {
	background-image: url('../imgs/icons/24/indigo/twitter.png');
}
#navBar .nav-github a {
	background-image: url('../imgs/icons/24/indigo/github.png');
}
#navBar .nav-ko-fi a {
	background-image: url('../imgs/icons/24/indigo/ko-fi.png');
}
#navBar .nav-portal_z a {
	background-image: url('../imgs/icons/24/indigo/portalz.png');
}
