body {
	background-image: url(../imgs/bg/red.png), url(../imgs/bg/red_inv.png);
}

a, a > * {
	color: #ff2020;
}
	a:active, a:active > * {
		color: #f06060;
	}

#navToggleBtn {
	color: red;
}
#navBar h2 {
	color: rgba(255,0,0,0.4);
	border-bottom-color: rgba(255,0,0,0.4);
}
#navBar ul li b {
	color: red;
}
#navBar ul > li > a:hover {
	background-color: rgba(255,0,0,0.1);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(255,0,0,0.7);
	   -moz-box-shadow: 0 0 18px 0 rgba(255,0,0,0.7);
	        box-shadow: 0 0 18px 0 rgba(255,0,0,0.7);
}
#main hr,
a.projLink {
	border-color: rgba(255,0,0,0.5);
}
#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px red;
}

ul.projLinks li > a {
	color: #ff4040;
	border-color: rgba(255,64,64,0.5);
}

/* nav item classes */
.nav-z a {
	background-image: url('../imgs/icons/24/red/z.png');
}
.nav-me a {
	background-image: url('../imgs/icons/24/red/mii.png');
}
.nav-apps a {
	background-image: url('../imgs/icons/24/red/apps.png');
}
.nav-chrome a {
	background-image: url('../imgs/icons/24/red/chrome.png');
}
.nav-wave a {
	background-image: url('../imgs/icons/24/red/wave.png');
}
.nav-design a {
	background-image: url('../imgs/icons/24/red/design.png');
}
.nav-misc a {
	background-image: url('../imgs/icons/24/red/misc.png');
}
.nav-cosplay a {
	background-image: url('../imgs/icons/24/red/cosplay.png');
}
.nav-music a {
	background-image: url('../imgs/icons/24/red/music.png');
}
.nav-math a {
	background-image: url('../imgs/icons/24/red/math.png');
}
.nav-google a {
	background-image: url('../imgs/icons/24/red/gplus.png');
}
.nav-twitter a {
	background-image: url('../imgs/icons/24/red/twitter.png');
}
.nav-github a {
	background-image: url('../imgs/icons/24/red/github.png');
}
.nav-ko-fi a {
	background-image: url('../imgs/icons/24/red/ko-fi.png');
}
.nav-portal_z a {
	background-image: url('../imgs/icons/24/red/portalz.png');
}
