body {
	background-image: url(../imgs/bg/red.png), url(../imgs/bg/red_inv.png);
}

a,
a > *,
ul.projLinks li > a {
	color: #ff4040;
	border-color: rgba(255, 64, 64, 0.5);
}
	a:active,
	a:active > * {
		color: #f06060;
	}
@media (prefers-color-scheme: light) {
	a,
	a > *,
	ul.projLinks li > a {
		color: #e00000;
		border-color: #f02020;
	}
		a:active,
		a:active > * {
			color: #ff4040;
		}
}

#navToggleBtn {
	color: red;
}
#navBar h2 {
	color: rgba(255, 0, 0, 0.4);
	border-bottom-color: rgba(255, 0, 0, 0.4);
}
#navBar ul li a,
#navBar ul li b {
	color: red;
}
#navBar ul > li > a:hover {
	background-color: rgba(255, 0, 0, 0.1);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(255, 0, 0, 0.7);
	   -moz-box-shadow: 0 0 18px 0 rgba(255, 0, 0, 0.7);
	        box-shadow: 0 0 18px 0 rgba(255, 0, 0, 0.7);
}
#main hr,
a.projLink {
	border-color: rgba(255, 0, 0, 0.5);
}

#main header h1, #main header h2 {
	text-shadow: 0px 0px 3px red;
}

/* nav item classes */
#navBar .nav-z a {
	background-image: url('../imgs/icons/24/red/z.png');
}
#navBar .nav-me a {
	background-image: url('../imgs/icons/24/red/mii.png');
}
#navBar .nav-apps a {
	background-image: url('../imgs/icons/24/red/apps.png');
}
#navBar .nav-chrome a {
	background-image: url('../imgs/icons/24/red/chrome.png');
}
#navBar .nav-wave a {
	background-image: url('../imgs/icons/24/red/wave.png');
}
#navBar .nav-design a {
	background-image: url('../imgs/icons/24/red/design.png');
}
#navBar .nav-orgs a {
	background-image: url('../imgs/icons/24/red/groups.png');
}
#navBar .nav-misc a {
	background-image: url('../imgs/icons/24/red/misc.png');
}
#navBar .nav-cosplay a {
	background-image: url('../imgs/icons/24/red/cosplay.png');
}
#navBar .nav-desserts a {
	background-image: url('../imgs/icons/24/red/desserts.png');
}
#navBar .nav-music a {
	background-image: url('../imgs/icons/24/red/music.png');
}
#navBar .nav-math a {
	background-image: url('../imgs/icons/24/red/math.png');
}
#navBar .nav-google a {
	background-image: url('../imgs/icons/24/red/gplus.png');
}
#navBar .nav-twitter a {
	background-image: url('../imgs/icons/24/red/twitter.png');
}
#navBar .nav-mastodon a {
	background-image: url('../imgs/icons/24/red/mastodon.png');
}
#navBar .nav-github a {
	background-image: url('../imgs/icons/24/red/github.png');
}
#navBar .nav-ko-fi a {
	background-image: url('../imgs/icons/24/red/ko-fi.png');
}
#navBar .nav-patreon a {
	background-image: url('../imgs/icons/24/red/patreon.png');
}
#navBar .nav-portal_z a {
	background-image: url('../imgs/icons/24/red/portalz.png');
}
