body {
	background-image: url(../imgs/bg/lime.png), url(../imgs/bg/lime_inv.png);
}

a,
a > *,
ul.projLinks li > a {
	color: #64dd17;
	border-color: rgba(100, 221, 23, 0.5);
}
	a:active,
	a:active > * {
		color: #60f060;
	}
@media (prefers-color-scheme: light) {
	a,
	a > *,
	ul.projLinks li > a {
		color: #408800;
		border-color: green;
	}
		a:active,
		a:active > * {
			color: #799649;
		}
}

#navToggleBtn {
	color: #64dd17;
}
#navBar h2 {
	color: rgba(0, 255, 0, 0.4);
	border-bottom-color: rgba(0, 255, 0, 0.4);
}
#navBar ul li a,
#navBar ul li b {
	color: #64dd17;
}
#navBar ul > li > a:hover {
	background-color: rgba(0,225,0,0.2);
}

#main {
	-webkit-box-shadow: 0 0 18px 0 rgba(0, 225, 0, 0.4);
	   -moz-box-shadow: 0 0 18px 0 rgba(0, 225, 0, 0.4);
	        box-shadow: 0 0 18px 0 rgba(0, 225, 0, 0.4);
}
#main hr,
a.projLink {
	border-color: rgba(0, 255, 0, 0.5);
}
@media (prefers-color-scheme: light) {
	#main hr,
	a.projLink {
		border-color: #;
	}
}
#main header h1, header h2 {
	text-shadow: 0px 0px 3px #64dd17;
}

ul.projLinks li > a {
	color: #64dd17;
	border-color: rgba(100, 221, 23, 0.5);
}
@media (prefers-color-scheme: light) {
	ul.projLinks li > a {
		color: #808000;
		border-color: #d0d000;
	}
}

/* nav item classes */
#navBar .nav-z a {
	background-image: url('../imgs/icons/24/green/z.png');
}
#navBar .nav-me a {
	background-image: url('../imgs/icons/24/green/mii.png');
}
#navBar .nav-apps a {
	background-image: url('../imgs/icons/24/green/apps.png');
}
#navBar .nav-chrome a {
	background-image: url('../imgs/icons/24/green/chrome.png');
}
#navBar .nav-design a {
	background-image: url('../imgs/icons/24/green/design.png');
}
#navBar .nav-misc a {
	background-image: url('../imgs/icons/24/green/misc.png');
}
#navBar .nav-cosplay a {
	background-image: url('../imgs/icons/24/green/cosplay.png');
}
#navBar .nav-desserts a {
	background-image: url('../imgs/icons/24/green/desserts.png');
}
#navBar .nav-music a {
	background-image: url('../imgs/icons/24/green/music.png');
}
#navBar .nav-games a {
	background-image: url('../imgs/icons/24/green/games.png');
}
#navBar .nav-math a {
	background-image: url('../imgs/icons/24/green/math.png');
}
#navBar .nav-google a {
	background-image: url('../imgs/icons/24/green/gplus.png');
}
#navBar .nav-twitter a {
	background-image: url('../imgs/icons/24/green/twitter.png');
}
#navBar .nav-mastodon a {
	background-image: url('../imgs/icons/24/green/mastodon.png');
}
#navBar .nav-github a {
	background-image: url('../imgs/icons/24/green/github.png');
}
#navBar .nav-ko-fi a {
	background-image: url('../imgs/icons/24/green/ko-fi.png');
}
#navBar .nav-patreon a {
	background-image: url('../imgs/icons/24/green/patreon.png');
}
#navBar .nav-portal_z a {
	background-image: url('../imgs/icons/24/green/portalz.png');
}
